# Python | day 9 | list/dict comprehension

List comprehension in Python is a compact way of creating a list from a sequence. It is a short way to create a new list. List comprehension is considerably faster than processing a list using the for loop.

```python
# syntax
[i for i in iterable if expression]
```

Dictionary comprehension is the same as list comprehension but with dictionaries. I know, you didn't see that coming.

```python
# syntax

{key: value for i in iterable}
```

- https://www.programiz.com/python-programming/list-comprehension
- https://www.programiz.com/python-programming/dictionary-comprehension

### Exercise 1.

Use list comprehension and print the result to solve these problems:

1. Make a list with the square number of numbers from 0 to 20.

In [163]:
import math

list1 = [x**x for x in range(21)]
print(list1)

[1, 1, 4, 27, 256, 3125, 46656, 823543, 16777216, 387420489, 10000000000, 285311670611, 8916100448256, 302875106592253, 11112006825558016, 437893890380859375, 18446744073709551616, 827240261886336764177, 39346408075296537575424, 1978419655660313589123979, 104857600000000000000000000]

2. Make a list with the first 50 power of two.

In [165]:
list2 = [x**2 for x in range(51)]
list2

[0,
 1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400,
 441,
 484,
 529,
 576,
 625,
 676,
 729,
 784,
 841,
 900,
 961,
 1024,
 1089,
 1156,
 1225,
 1296,
 1369,
 1444,
 1521,
 1600,
 1681,
 1764,
 1849,
 1936,
 2025,
 2116,
 2209,
 2304,
 2401,
 2500]

3. Calculate the square root of the first 100 numbers. 

**You will probably need to install math library with pip and import it in this file.**

In [8]:
list3 = [math.sqrt(x) for x in range(101)]
list3

[0.0,
 1.0,
 1.4142135623730951,
 1.7320508075688772,
 2.0,
 2.23606797749979,
 2.449489742783178,
 2.6457513110645907,
 2.8284271247461903,
 3.0,
 3.1622776601683795,
 3.3166247903554,
 3.4641016151377544,
 3.605551275463989,
 3.7416573867739413,
 3.872983346207417,
 4.0,
 4.123105625617661,
 4.242640687119285,
 4.358898943540674,
 4.47213595499958,
 4.58257569495584,
 4.69041575982343,
 4.795831523312719,
 4.898979485566356,
 5.0,
 5.0990195135927845,
 5.196152422706632,
 5.291502622129181,
 5.385164807134504,
 5.477225575051661,
 5.5677643628300215,
 5.656854249492381,
 5.744562646538029,
 5.830951894845301,
 5.916079783099616,
 6.0,
 6.082762530298219,
 6.164414002968976,
 6.244997998398398,
 6.324555320336759,
 6.4031242374328485,
 6.48074069840786,
 6.557438524302,
 6.6332495807108,
 6.708203932499369,
 6.782329983125268,
 6.855654600401044,
 6.928203230275509,
 7.0,
 7.0710678118654755,
 7.14142842854285,
 7.211102550927978,
 7.280109889280518,
 7.3484692283495345,
 7.416198487095663,
 7.483314773547883,
 7.54983443527075,
 7.615773105863909,
 7.681145747868608,
 7.745966692414834,
 7.810249675906654,
 7.874007874011811,
 7.937253933193772,
 8.0,
 8.06225774829855,
 8.12403840463596,
 8.18535277187245,
 8.246211251235321,
 8.306623862918075,
 8.366600265340756,
 8.426149773176359,
 8.48528137423857,
 8.54400374531753,
 8.602325267042627,
 8.660254037844387,
 8.717797887081348,
 8.774964387392123,
 8.831760866327848,
 8.888194417315589,
 8.94427190999916,
 9.0,
 9.055385138137417,
 9.1104335791443,
 9.16515138991168,
 9.219544457292887,
 9.273618495495704,
 9.327379053088816,
 9.38083151964686,
 9.433981132056603,
 9.486832980505138,
 9.539392014169456,
 9.591663046625438,
 9.643650760992955,
 9.695359714832659,
 9.746794344808963,
 9.797958971132712,
 9.848857801796104,
 9.899494936611665,
 9.9498743710662,
 10.0]

4. Create this list `[-10,-9,-8,-7,-6,-5,-4,-3,-2,-1,0]`.

In [18]:
list4 = [x for x in range(0, -11, -1)]
list4.reverse()
list4

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 0]

5. Filter only negative and zero in the list `numbers`.

In [19]:

numbers = [-4, -3, -2, -1, 0, 2, 4, 6]

In [161]:
new_numbers = [x for x in numbers if x <= 0]
new_numbers

[-4, -3, -2, -1, 0]

6. Find the odd numbers from 1-100 and put them on a list.

In [23]:
odd_numbers = [x for x in range (1, 101, 2)]
odd_numbers

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99]

7. Find all of the numbers from 1-1000 that are divisible by 7.

In [24]:
divisible_by_seven = [x for x in range(0, 1001, 7)]
divisible_by_seven

[0,
 7,
 14,
 21,
 28,
 35,
 42,
 49,
 56,
 63,
 70,
 77,
 84,
 91,
 98,
 105,
 112,
 119,
 126,
 133,
 140,
 147,
 154,
 161,
 168,
 175,
 182,
 189,
 196,
 203,
 210,
 217,
 224,
 231,
 238,
 245,
 252,
 259,
 266,
 273,
 280,
 287,
 294,
 301,
 308,
 315,
 322,
 329,
 336,
 343,
 350,
 357,
 364,
 371,
 378,
 385,
 392,
 399,
 406,
 413,
 420,
 427,
 434,
 441,
 448,
 455,
 462,
 469,
 476,
 483,
 490,
 497,
 504,
 511,
 518,
 525,
 532,
 539,
 546,
 553,
 560,
 567,
 574,
 581,
 588,
 595,
 602,
 609,
 616,
 623,
 630,
 637,
 644,
 651,
 658,
 665,
 672,
 679,
 686,
 693,
 700,
 707,
 714,
 721,
 728,
 735,
 742,
 749,
 756,
 763,
 770,
 777,
 784,
 791,
 798,
 805,
 812,
 819,
 826,
 833,
 840,
 847,
 854,
 861,
 868,
 875,
 882,
 889,
 896,
 903,
 910,
 917,
 924,
 931,
 938,
 945,
 952,
 959,
 966,
 973,
 980,
 987,
 994]

8. Remove all of the vowels in a string. 

   Hint: make a list of the non-vowels.

In [25]:
teststring = "When you reach the end of your rope, tie a knot in it and hang on."

In [28]:
vowels = "a", "e", "i", "o", "u"

non_vowels = [x for x in teststring if x != "a" and x != "e" and x != "i" and x != "o" and x != "u"]
non_vowels

['W',
 'h',
 'n',
 ' ',
 'y',
 ' ',
 'r',
 'c',
 'h',
 ' ',
 't',
 'h',
 ' ',
 'n',
 'd',
 ' ',
 'f',
 ' ',
 'y',
 'r',
 ' ',
 'r',
 'p',
 ',',
 ' ',
 't',
 ' ',
 ' ',
 'k',
 'n',
 't',
 ' ',
 'n',
 ' ',
 't',
 ' ',
 'n',
 'd',
 ' ',
 'h',
 'n',
 'g',
 ' ',
 'n',
 '.']

9. Find the capital letters (and not white space) in the sentence `"The Way To Get Started Is To Quit Talking And Begin Doing."`.

In [38]:
#intento 2
sentence = "The Way To Get Started Is To Quit Talking And Begin Doing."

capital_letters = [x for x in sentence if x.isupper() == True]
capital_letters

['T', 'W', 'T', 'G', 'S', 'I', 'T', 'Q', 'T', 'A', 'B', 'D']

In [36]:
#intento 1
for a in sentence:   
    if (a.isupper()) == True:  
        print(a)

T
W
T
G
S
I
T
Q
T
A
B
D

10. Find all the consonants in the sentence `"Tell me and I forget. Teach me and I remember. Involve me and I learn."`.

In [159]:
sentence1 = "Tell me and I forget. Teach me and I remember. Involve me and I learn."

consonants = [x for x in sentence1 if x != "a" and x != "e" and x != "i" and x != "o" and x != "u"]
print(consonants)

['T', 'l', 'l', ' ', 'm', ' ', 'n', 'd', ' ', 'I', ' ', 'f', 'r', 'g', 't', '.', ' ', 'T', 'c', 'h', ' ', 'm', ' ', 'n', 'd', ' ', 'I', ' ', 'r', 'm', 'm', 'b', 'r', '.', ' ', 'I', 'n', 'v', 'l', 'v', ' ', 'm', ' ', 'n', 'd', ' ', 'I', ' ', 'l', 'r', 'n', '.']

11. Create 4 lists of 10 random numbers between 0 and 100 each. 

**You will probably need to import random module.**

In [48]:
random_list_1 = [random.randint(0,100) for x in range(10)]
random_list_2 = [random.randint(0,100) for x in range(10)]
random_list_3 = [random.randint(0,100) for x in range(10)]
random_list_4 = [random.randint(0,100) for x in range(10)]
print(random_list_1)
print(random_list_2)
print(random_list_3)
print(random_list_4)

[91, 92, 93, 89, 11, 78, 37, 27, 41, 5]
[78, 85, 48, 35, 92, 34, 97, 83, 98, 35]
[6, 16, 32, 79, 29, 45, 44, 44, 79, 94]
[38, 10, 9, 16, 74, 38, 22, 9, 27, 85]

### Exercise 2.

1. Flatten the following list of lists of lists to a one dimensional list :
```python
expected output:
[1, 2, 3, 4, 5, 6, 7, 8, 9]
```

In [57]:
flat_list = [item for sublist in list_of_lists for item in sublist]
flat_list

[1, 2, 3, 4, 5, 6, 7, 8, 9]

2. Flatten the following list to a new list, and capitalize the elements of the new list:
```python
expected output:
['SPAIN', 'MADRID', 'FRANCE', 'PARIS', 'PORTUGAL', 'LISBON']
```

In [84]:
countries = [[('Spain', 'Madrid')], [('France', 'Paris')], [('Portugal', 'Lisbon')]]

In [79]:
flat_list_countries = [item for sublist in countries for item in sublist]
flat_list_countries_1 = [item for sublist in flat_list_countries for item in sublist]

converted_list = [x.upper() for x in flat_list_countries_1]
converted_list

['SPAIN', 'MADRID', 'FRANCE', 'PARIS', 'PORTUGAL', 'LISBON']

3. Change the `countries` list to a list of dictionaries:
```python
expected output:
[{'country': 'SPAIN', 'city': 'MADRID'},
{'country': 'FRANCE', 'city': 'PARIS'},
{'country': 'PORTUGAL', 'city': 'LISBON'}]
```

In [89]:
country_dictionary = dict.fromkeys(flat_list_countries_1,"country")
country_dictionary

{'Spain': 'country',
 'Madrid': 'country',
 'France': 'country',
 'Paris': 'country',
 'Portugal': 'country',
 'Lisbon': 'country'}

In [90]:
dict_list = [{'Country': item[0].upper(), 'City': item[1].upper()} for subl in flat_list_countries_1 for item in subl]
dict_list

IndexError: string index out of range

4. Change the following list of lists to a list of concatenated strings:
```python
expected output:
['Gabriel Vazquez', 'Clara Piniella', 'Diomedes Barbero']
```

In [91]:
names = [[('Gabriel', 'Vazquez')], [('Clara', 'Piniella')], [('Diomedes', 'Barbero')]]

In [97]:
concatenated_list = [item for sublist in names for item in sublist]
concatenated_list
concatenated_list_1 = [item for sublist in concatenated_list for item in sublist]
concatenated_list_1

['Gabriel', 'Vazquez', 'Clara', 'Piniella', 'Diomedes', 'Barbero']

5. Convert the numbers of the following nested list to floats. Use **floats_list** as the name of the list.

In [98]:
big_list_of_lists = [['40', '20', '10', '30'], ['20', '20', '20', '20', '20', '30', '20'], \
['30', '20', '30', '50', '10', '30', '20', '20', '20'], ['100', '100'], ['100', '100', '100', '100', '100'], \
['100', '100', '100', '100']]

In [105]:
concatenated_ints = [item for sublist in big_list_of_lists for item in sublist]

float_list = []
for item in concatenated_ints:
    float_list.append(float(item))
print(float_list)

[40.0, 20.0, 10.0, 30.0, 20.0, 20.0, 20.0, 20.0, 20.0, 30.0, 20.0, 30.0, 20.0, 30.0, 50.0, 10.0, 30.0, 20.0, 20.0, 20.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0]

6. Using list comprehension create the following list of tuples:
```python
expected output: 
[(0, 1, 0, 0, 0, 0, 0),
(1, 1, 1, 1, 1, 1, 1),
(2, 1, 2, 4, 8, 16, 32),
(3, 1, 3, 9, 27, 81, 243),
(4, 1, 4, 16, 64, 256, 1024),
(5, 1, 5, 25, 125, 625, 3125),
(6, 1, 6, 36, 216, 1296, 7776),
(7, 1, 7, 49, 343, 2401, 16807),
(8, 1, 8, 64, 512, 4096, 32768),
(9, 1, 9, 81, 729, 6561, 59049),
(10, 1, 10, 100, 1000, 10000, 100000)]
```

In [ ]:
question_6 = [x for x in range(7)]



for x in range(7):

### Exercise 3.

1. First, create a range from 100 to 160 with steps of 10.
   Second, using **dict comprehension**, create a dictionary where each number in the range is the key and each item divided by 100 is the value.

In [115]:
list_of_tens = [x for x in range(100,170,10)]
list_of_tens_divided = [x/100 for x in list_of_tens]
dictionary = dict(zip(list_of_tens,list_of_tens_divided))
print(dictionary)

{100: 1.0, 110: 1.1, 120: 1.2, 130: 1.3, 140: 1.4, 150: 1.5, 160: 1.6}

2. Using **dict comprehension** and a conditional argument create a dictionary from `curr_dict` where only the key:value pairs with value above 2000 are taken to the new dictionary.

In [117]:
curr_dict = {"Netflix":4950,"HBO":2400,"Amazon":1800, "Movistar":1700}

In [121]:
curr_dict_ans = [x for x in curr_dict if x in curr_dict.values() > 2000]
curr_dict_ans

[]

In [128]:
for x, v in curr_dict.items():
    print()

Netflix
HBO
Amazon
Movistar

In [138]:
new_dict_1 = []
new_dict_2 = []

for x, v in curr_dict.items():

    if v < 2000:
        continue
    else:
        new_dict_1.append(x)
        new_dict_2.append(v)

final_dict = dict(zip(new_dict_1, new_dict_2))
final_dict

{'Netflix': 4950, 'HBO': 2400}

3. Create a function that receives two lists `list1` and `list2` by parameter and returns a dictionary with each element of `list1` as keys and the elements of `list2` as values. This time use **dict comprehension** to do so.

In [139]:
def two_list(list1, list2):

[1,
 1,
 4,
 27,
 256,
 3125,
 46656,
 823543,
 16777216,
 387420489,
 10000000000,
 285311670611,
 8916100448256,
 302875106592253,
 11112006825558016,
 437893890380859375,
 18446744073709551616,
 827240261886336764177,
 39346408075296537575424,
 1978419655660313589123979,
 104857600000000000000000000]

### Bonus Track.

To solve this exercise you can either use `for/while` or try to solve it using both. From now on you should be able to find out whether to use for or while.

1. Define a function `string_greater_5` that receives as a parameter `whichever_list`. You must go through `whichever_list` transforming each element into a string and, if the size of the string is longer than 5, the loop must stop. The function must return the first element which is a string longer than 5. Pass as an argument `info_list` when you call the function `string_greater_5`.

In [140]:
# you can use this list or take yours from Practice 3
info_list = [15, 'Recoletos', True, ['Recoletos', 15],  None, '8']

In [154]:
str(info_list)

"[15, 'Recoletos', True, ['Recoletos', 15], None, '8']"

In [158]:
def string_greater_5(m):
    for x in m:
        if x != type(str):
            x=str(x)
            if len(x) > 5:
                return(x)
                break
        else:
            pass
string_greater_5(m=info_list)

'Recoletos'

2. Define a function `list_consecutive` that receives as a parameter `limit`. It should return a list with numbers starting at 0 and ending at the `limit` number. When calling the function `limit` will be 18.

3. Define a function called `position_15`. This gets two parameters, `some_function` and `whichever_list`. `position_15` should return the element in 15th position of the list that `some_function` returns. Pass to `some_function` the `list_consecutive` function as the value of the argument. 

   You should call the function `some_function` inside `position_15` and give it the lenght of `whichever_list` multiply by 2 as an argument. 

```python
# example:
position_15(some_function = list_consecutive,
                whichever_list = info_list)
```

### Bonus Track of the Bonus Track. 

1. Make a Python program that, from the strings `" | "` and `" _ "`, shows an 8x8 **chessboard** on the screen.

   Develop the program in a `.py` file that will be run through the terminal. 
 
   From the folder that contains the corresponding `.py`, it will be executed with the following command:` python3 program_name.py`

!['togood'](https://i.pinimg.com/originals/de/f5/2f/def52fe41d695d8feebd2cdc194da929.png)